<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Components">
    <ion-content>
        <div ng-controller="ActionSheetCtrl">
            <div class="button button-assertive button-block" ng-click="takeAction()">
                Take Action!
            </div>
            <div class="card" ng-show="messages.length">
                <div class="item item-divider">
                    User Log
                </div>
                <div class="item item-text-wrap">
                    <div ng-repeat="message in messages">
                        {{message.text}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="ForeverCtrl">
            <ion-checkbox ng-repeat="(feedId,feed) in feedChoices | filter:feedChoiceFilter | orderBy:feed.title"
                          ng-model="feed.description" ng-click="addFeed(feedId)">
                {{ feedId }}
            </ion-checkbox>
        </div>


    </ion-content>


</ion-view>
