<ion-view title="'Login'{{ logindata.email }}" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form ng-submit="tryLogin()">
      <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="logindata.email" >
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="logindata.pass">
        </label>
        <ion-toggle ng-model="logindata.remember">remember me</ion-toggle>
      </div>
      <button class="button button-block button-positive" type="submit">Login in</button>
    </form>
      <div ng-controller="ExampleController" class="container">
          <h1>Angular + Elasticsearch</h1>

          <!-- if there is an error, display its message -->
          <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

          <!-- if clusterState is available, display it as formatted json -->
          <div ng-if="clusterState" class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Cluster State</h3>
              </div>
              <div class="panel-body">
                  <pre>{{clusterState | json}}</pre>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>

