<div class="bar bar-header">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Header Buttons</h1>
    <button class="button">Edit</button>
</div>
        <div ng-controller="messagesDetailCtrl">
            <ion-list >
                <ion-item ng-repeat="message in messages | orderBy:date" type="item-text-wrap" >
                    <h3>{{message.$priority}} + {{message.date | date:"MM/dd/yyyy @ h:mma" }}</h3>
                </ion-item>
            </ion-list>
        </div>



      <ion-list>
          <ion-item ng-repeat="article in articles | orderBy:orderMethod | filter:filterMethod"
                    ng-click="openArticle(article)" id="{{article.$id}}">
              <h2 title="{{article.title}}">{{article.title}}</h2>
              <div ng-bind-html="article.summary"></div>
              <p>&nbsp;</p>
              <a class="pull-right" ng-click="markArticleRead(article, $event)"
                         title="Mark this article read">
                  <i class="icon-ok"></i>
              </a>
              <p>
                  {{feedName(article)}}<br/>{{article.date | date:'short'}}
              </p>

          </ion-item>

      </ion-list>
  </ion-content>
</ion-view>
